body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.logo-container {
  height: 50px;
  flex: 17;
  background-color: rgb(255, 251, 251);
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
}

.profile-text-container {
  margin: 0 20px;
}

.logo {
  display: block;
  margin-left: 57%;
  margin-right: 53%;
  height: 40px;
}

.navbar-container {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 50px;
  height: 100%;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.tablink {
    box-shadow: 0px 5px 8px rgb(196, 195, 195);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border: 1px solid black;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 12px;
    width: 6%;
    border-radius: 3000000px;
}

.sidebar-icons {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 80px;
  margin-left: 5px;
}

.search {
  overflow: hidden;
  top: 50%;
  left: 50%;
  border: none;
  z-index: 10;
  max-width: 80%;
  transform: translate(-50%, -50%) scale(0);
  position: fixed;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 60px;
  transition: 0.5s ease-in-out;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}

.icon::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 15px;
  background:#287dfc;
  transform: translate(6px,6px) rotate(315deg);
}

.search.active {
  transform: translate(-50%, -50%) scale(1);
  width: 360px;
}


.container.active {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

.input {
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
}

.menu {
  /* transform: translate(-50%, -50%) scale(0); */
  position: absolute;
  margin-top: 50px;
  border-radius: 20px;
  overflow: hidden;
  /* display: none; */
  z-index: 10;
  cursor: pointer;
  width: 200px;
  margin-left: 1250px;
  padding: 10px 20px;
  background: white;
  box-sizing: 0 5px 25px black;
  transition: all 0.5s ease-in-out;
  /* visibility: hidden; */
  opacity: 0;
  top: 10px;
}

.menu.active {
  opacity: 1;
}

.menu::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
}

.li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}

.user-img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

.li:hover .user-img {
  opacity: 1;
}

.li:hover .user-txt {
  color: red;
}

.user-txt {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  color: #555;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.container {
  margin-left: 50px;
  background-color: rgb(0, 0, 0);
  min-height: calc(100vh - 50px);
  color: rgb(10, 0, 0);
}